<form [formGroup]="boxesForm">
<div class="row">
    <div class="col-12 col-md-4 mb-3">
        @let noOfBoxesControl = boxesForm.get('noOfBoxes');
        @let noOfBoxesValidity = noOfBoxesControl.touched &&
        noOfBoxesControl.invalid &&
        noOfBoxesControl.hasError('required');

        <div class="form-floating">
            <input 
                type="number" 
                class="form-control apt-form-control" 
                id="noOfBoxes"
                formControlName="noOfBoxes" 
                placeholder="Last Name"
            >
            <label class="fw-bold" [ngClass]="{ 'invalid-label': noOfBoxesValidity }"
                for="noOfBoxes">Number Of Boxes *</label>
        </div>

        @if (noOfBoxesValidity) {
        <div class="apt-validation">This is a required field</div>
        }
    </div>

</div>
</form>