<footer class="bg-dark text-white pt-4 pb-3 mt-auto">
  <div class="container">
    <div class="row text-center text-md-start">
      
      <!-- Column 1: Brand -->
      <div class="col-md-4 mb-3">
        <h5>CZ Junk Removal</h5>
        <!-- <p>Reliable moving and junk removal services near you.</p> -->
        <p>Woman owned - Indigenous owned - Locally owned.</p>
      </div>

      <!-- Column 3: Contact -->
      <div class="col-md-4 mb-3">
        <h6>Contact Us</h6>

        <p class="mb-1">czjunksaskatoon@gmail.com</p>
        <p class="mb-1">📍 Saskatoon</p>
         <!-- <span class="fs-6"></span> -->
        <a [href]="`tel:${appConstants.phoneNumber}`" class="text-white text-decoration-none fw-semibold">
        📲 {{appConstants.phoneNumber}}
      </a>
        <!-- <p>✉️ support@mjtrucks.com</p> -->
      </div>

    </div>

    <hr class="bg-light" />

    <div class="text-center small">
      © 2025 CZ Junk Removal & Movin. All rights reserved | <b>Designed by: </b>
      <a href="https://www.linkedin.com/in/bhargav-r-guntaka-611030b4/" target="_blank"
        class="copy_right">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16"
          style="vertical-align: middle; margin-right: 4px;">
          <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 
                   16 1.146v13.708c0 .633-.526 1.146-1.175 
                   1.146H1.175C.526 16 0 15.487 0 
                   14.854V1.146zM4.943 13.5V6H2.542v7.5h2.401zm-1.2-8.538c.837 
                   0 1.358-.554 1.358-1.248-.015-.71-.52-1.248-1.342-1.248-.822 
                   0-1.358.538-1.358 1.248 0 .694.52 1.248 1.327 
                   1.248h.015zm4.908 8.538V9.359c0-.221.016-.442.081-.6.178-.442.585-.9 
                   1.268-.9.894 0 1.251.678 1.251 1.671V13.5h2.4V9.25c0-2.269-1.21-3.325-2.826-3.325-1.303 
                   0-1.872.716-2.197 1.218h.016V6H7.65c.03.633 
                   0 7.5 0 7.5h2.401z" />
        </svg>
        Bhargav R Guntaka
      </a>
    </div>
  </div>
</footer>