.pad-4 {
    padding: 4px;
}

.cp {
    cursor: pointer;
}

.no-cursor {
    cursor: not-allowed;
}
.available-text-label {
    background-image: linear-gradient(to right, green, #4CAF50);
    display: inline;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.available-text {
    color: green;
    // background-image: linear-gradient(to right, green, #51e91e);
    // display: block;
    // -webkit-background-clip: text;
    // background-clip: text;
    // color: transparent;
}
.unavailable-text {
    color: rgb(244, 122, 122);
}

.time-card {
    transition: transform 0.9s;
    background-color: rgb(0 133 242 / 2%);
}

.card:hover {
    transform: scale(1.05);
}

.selected-border {
 border: 2px solid green;
}

.muted-text {
    --bs-text-opacity: 1;
    color: rgb(114 122 131 / 75%) !important;
}

button {
    border: none;
    padding: 0;
    // background-color: no;
}