<div class="card card-shadow">
    <div class="card-header">
        <h4 class="test-clip">
            Service Type
        </h4>
    </div>
    <div class="card-body">
        <form [formGroup]="service" class="container mt-4">
            <div class="row g-3">
                <!-- First Name -->
                <div class="col-12 col-md-12">
                    <label for="serviceType" class="form-label">Service Type</label>
                    <input type="text" class="form-control" id="serviceType" formControlName="serviceType"
                        placeholder="Enter Service Type">
                </div>

                <!-- Submit Button -->
                <div class="col-12 text-end">
                    <button (click)="navigateTo('location')" type="submit" class="btn btn-primary">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>
