<div class="card card-shadow">
  <div class="card-header">
    <h4 class="test-clip">Search By Email</h4>
  </div>
  <div class="card-body">
    <form> <!-- optional wrapper -->
      <div class="row align-items-end">
        <!-- Email Input -->
        <div class="col-12 col-md-6 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control apt-form-control" id="email" [formControl]="email"
              placeholder="Email" />
            <label for="email">Email</label>
          </div>
        </div>

        <!-- Button -->
        <div class="col-12 col-md-3 mb-3 text-md-start text-end">
          <button class="btn btn-primary rounded-pill shadow-sm w-100 w-md-auto" type="submit"
            (click)="searchByEmail()">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

@if (selectedEmailRecord()?.length > 0) {
<user-details [userDetailsList]="selectedEmailRecord()" />
} @else {
@if(!userDetailsListLoading()) {
<div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
  <strong>No Appointments for the selected date.</strong>
</div>
}
}