* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 90px; // default for desktop
  @media (max-width: 768px) {
    padding-top: 46px; // smaller padding for mobile/tablets
  }
}
.mr-8 {
  margin-right: 8px;
}

.mr-l-10 {
  margin-left: 10px;
}

.apt-validation {
  color: rgb(244, 122, 122);
  transition: transform 0.9s;
}

.invalid-label {
  color: rgb(244, 122, 122);
  transition: transform 0.9s;
}

input.ng-invalid.ng-touched {
  border: 2px solid rgb(244, 122, 122);
  transition: transform 0.9s;
}

.pad-l-r-0 {
  padding-left: 0;
  padding-right: 0;
}
.moving_container1 {
  background: rgb(174, 245, 174);
}

.test-clip {
  background-image: linear-gradient(to right, #2196F3, #E91E63);
  display: inline;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.pad-t-14 {
  padding-top: 14px;
}