* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 112px; // default for desktop
  background-color: #fafafa;
  @media (max-width: 768px) {
    padding-top: 92px; // smaller padding for mobile/tablets
  }
}
.main_routing_section {
  min-height: 70vh;
}
.mr-8 {
  margin-right: 8px;
}

.mr-l-10 {
  margin-left: 10px;
}

.mar-t-12 {
  margin-top: 12px;
}

.mar-t-100 {
    margin-top: 100px;
}

.apt-validation {
  color: rgb(244, 122, 122);
  transition: transform 0.9s;
}

.invalid-label {
  color: rgb(244, 122, 122);
  transition: transform 0.9s;
}

input.ng-invalid.ng-touched {
  border: 2px solid rgb(244, 122, 122);
  transition: transform 0.9s;
}

.pad-l-r-0 {
  padding-left: 0;
  padding-right: 0;
}

.mar-l-r-0 {
  margin-left: 0;
  margin-right: 0;
}

.mar-l-r-20 {
  margin-left: 80px;
  margin-right: 80px;
}
.moving_container {
  background: linear-gradient(to right bottom,
   rgb(241 241 241 / 30%),
   rgba(3, 132, 3, 0.3));
}
.test-clip {
  background: linear-gradient(90deg,
    #2dd59a 0%,
    #f9c80e 25%,
    #f86624 50%,
    #ea32c9 75%,
    #6a4c93 100%);  display: inline;
  line-height: 36px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.pad-t-14 {
  padding-top: 14px;
}

.pad-t-b-20 {
  padding: 20px 0px;
}

.margin-t-b-14 {
  margin: 14px 0;
}
.pad-10 {
  padding: 10px;
}
.pad-b-15 {
  padding-bottom: 15px;
}
button {
  transition: transform 0.1s ease;
}
button:active {
  transform: translateY(-2px);
}

.info_container {
  min-height: 70vh;
  padding: 20px;
  background-color: #f2f2f2;
}

.section_main {
  background-color: #f2f2f2;
  border-radius: 10px;
  min-height: 400px;
  transition: box-shadow 0.8s ease, transform 0.8s ease;
  background: linear-gradient(
    135deg, /* angle: top-left to bottom-right */
    #fff1c8 0%,     /* light orange at top-left */
    rgba(255, 165, 0, 0.0) 10%,    /* fade out */
    rgba(0, 123, 255, 0.0) 90%,    /* transparent middle */
    rgba(0, 123, 255, 0.3) 100%    /* light blue at bottom-right */
  );
  box-shadow:
      0px -4px 6px rgba(0, 0, 0, 0.1),  /* top */
      4px 0px 6px rgba(0, 0, 0, 0.1),   /* right */
      0px 4px 6px rgba(0, 0, 0, 0.1);   /* bottom */
  

  @media (max-width: 768px) {
    min-height: unset;
  }

  &:hover {
    box-shadow:
      0px -4px 6px rgba(0, 0, 0, 0.1),  /* top */
      4px 0px 6px rgba(0, 0, 0, 0.1),   /* right */
      0px 4px 6px rgba(0, 0, 0, 0.1);   /* bottom */
  }

}

.mar-t-b {
  margin-top: 35px;
  margin-bottom: 35px;
}

.pad-t-b-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

select {
  min-height: 56px;
}
.nav-link.active {
  color: #ffc107;
  // font-size: large;
  border-bottom: 5px solid #ffc107;
}
.modal-footer * {
  margin: 6px;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.modal-content {
  background-color: #14624f;
  color: white;
}
.cat {
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  color: white;
  // text-transform: uppercase;
  white-space: nowrap;
  margin: 8px;
  
  &.IT {
    background-color: #456BBC;
  }
  &.Sports {
    border: 2px solid #eab308;
    background-color: rgba(234, 179, 8, 0.2);
    border-radius: 12px;
    color: #eab308;
  }
  &.Moving {
    background-color: #cb1762;
  }
  &.Junk {
    background-color: #009688;
  }

}