<div class="card card-shadow">
    <div class="card-header">
        <h4 class="test-clip">Search By Date</h4>
    </div>
    <div class="card-body">
        <form> <!-- optional wrapper -->
            <div class="row align-items-end">
                <!-- Email Input -->
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                        <input (keydown)="preventTyping($event)" type="date" class="form-control apt-form-control"
                            id="date" [formControl]="date">
                        <label for="date">Date</label>
                    </div>
                </div>

                <!-- Button -->
                <div class="col-12 col-md-3 mb-3 text-md-start text-end">
                    <button class="btn btn-primary rounded-pill shadow-sm w-md-auto" type="submit"
                        (click)="searchByDate()">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (userDetailsList()?.length > 0) {
  <user-details [userDetailsList]="userDetailsList()"/>
} @else {
      @if(!userDetailsListLoading()) {
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            <strong>No Appointments for the selected date.</strong>
          </div>
    }
}
